@import "tailwindcss";
@import "uniwind";

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.59 0.22 1);
  --primary-foreground: oklch(0.97 0.01 343);
  --secondary: oklch(0.75 0.1 10);
  --secondary-foreground: oklch(0.2 0.03 15);
  --muted: oklch(0.95 0.02 20);
  --muted-foreground: oklch(0.5 0.03 25);
  --accent: oklch(0.92 0.04 15);
  --accent-foreground: oklch(0.3 0.04 20);
  --destructive: oklch(0.6 0.22 20);
  --destructive-foreground: oklch(0.98 0.01 20);
  --info: oklch(0.75 0.16 225);
  --info-foreground: oklch(0.98 0.01 225);
  --success: oklch(0.75 0.18 150);
  --success-foreground: oklch(0.98 0.01 150);
  --warning: oklch(0.8 0.16 80);
  --warning-foreground: oklch(0.2 0.03 80);
  --border: oklch(0.9 0.01 20);
  --input: oklch(0.9 0.01 20);
  --ring: oklch(0.7 0.12 350);
  --chart-1: oklch(0.75 0.14 185);
  --chart-2: oklch(0.75 0.18 35);
  --chart-3: oklch(0.78 0.14 95);
  --chart-4: oklch(0.7 0.12 280);
  --chart-5: oklch(0.65 0.1 160);
  --radius: 0.45rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.59 0.22 1);
  --sidebar-primary-foreground: oklch(0.97 0.01 343);
  --sidebar-accent: oklch(0.9 0.04 15);
  --sidebar-accent-foreground: oklch(0.25 0.04 15);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.7 0.12 350);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.66 0.21 354);
  --primary-foreground: oklch(0.97 0.01 343);
  --secondary: oklch(0.6 0.08 10);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.25 0.02 15);
  --muted-foreground: oklch(0.65 0.03 20);
  --accent: oklch(0.4 0.08 10);
  --accent-foreground: oklch(0.98 0.01 10);
  --destructive: oklch(0.65 0.2 15);
  --destructive-foreground: oklch(0.98 0.01 15);
  --info: oklch(0.65 0.14 220);
  --info-foreground: oklch(0.98 0.01 220);
  --success: oklch(0.65 0.16 145);
  --success-foreground: oklch(0.98 0.01 145);
  --warning: oklch(0.7 0.14 75);
  --warning-foreground: oklch(0.15 0.03 75);
  --border: oklch(1 0 0 / 15%);
  --input: oklch(1 0 0 / 20%);
  --ring: oklch(0.65 0.14 350);
  --chart-1: oklch(0.7 0.12 185);
  --chart-2: oklch(0.7 0.16 35);
  --chart-3: oklch(0.72 0.12 95);
  --chart-4: oklch(0.65 0.1 280);
  --chart-5: oklch(0.6 0.08 160);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.73 0.18 350);
  --sidebar-primary-foreground: oklch(0.97 0.01 343);
  --sidebar-accent: oklch(0.45 0.08 10);
  --sidebar-accent-foreground: oklch(0.98 0.01 10);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.65 0.14 350);
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@theme inline {
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
}
